@model IEnumerable<clinicadental.Models.Antecedentepatologico>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Otro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntecedentePatologicoFamiliar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TratamientoMedico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecibeMedicacion)
            </th>                   
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Otro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntecedentePatologicoFamiliar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TratamientoMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecibeMedicacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAntecedentePatologico">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAntecedentePatologico">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAntecedentePatologico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
