@model clinicadental.Models.Examenextraoral

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Examenextraoral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GanglioLinfatico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GanglioLinfatico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRespiracionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRespiracionNavigation.IdRespiracion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdExamenExtraOral" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
