@model clinicadental.Models.Examenextraoral

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Examenextraoral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GanglioLinfatico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GanglioLinfatico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRespiracionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRespiracionNavigation.IdRespiracion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdExamenExtraOral">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
