@model clinicadental.Models.Antecedentebucodental

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Antecedentebucodental</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaVisitaDental)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaVisitaDental)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bebe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bebe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAntecedenteBucoDental">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
