@model IEnumerable<clinicadental.Models.Antecedentebucodental>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UltimaVisitaDental)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Otro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bebe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaVisitaDental)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Otro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bebe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAntecedenteBucoDental">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAntecedenteBucoDental">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAntecedenteBucoDental">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
