@model clinicadental.Models.Cita

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorainicioCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorainicioCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorafinCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorafinCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotivoCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCita">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
